# Configuration file

biome {
    I:CandyBiome=240
    I:DungeonBiome=241
}


dimension {
    I:Dungeon=24
    I:Id=23
}


enchantment {
    I:Devourer=230
    I:HoneyGlue=231
}


entity {
    I:BossSlime=7
    I:Bunny=23
    I:CandyArrow=26
    I:CandyCreeper=4
    I:CandyFish=30
    I:CandyPig=3
    I:CandyWolf=6
    I:CaramelBee=24
    I:CottonCandySpider=29
    I:GingerBread=25
    I:GummyBall=27
    I:KamikazeSlime=32
    I:KingSlime=35
    I:PEZSlime=34
    I:SprinterSlime=31
    I:Sugarde=5
    I:SuguardBoss=28
    I:TornadoSlime=33
}


